/*Favorite Color Schemes from: https://designschool.canva.com/blog/website-color-schemes/
  -16 
  -29
  -22
  -46

  16
  	-main1: #0B3C5D; "Prussian Blue"
  	-main2: #328CC1; "Sky Blue"
  	-accent: #D9B310; "Gold Leaf"
  	-text: #1D2731; "Ivory Black"

  	-text2: #E3F8FF; "Sea Foam"

  29*
  	-main1: #99D3DF; "Ice"
  	-main2: #88BBD6; "Fresh Water"
  	-accent: #CDCDCD; "Plaster"
  	-accent2: #E9E9E9; "Linen"

  	-other: #C70025; "Sunrise"
*/

body{
	overflow-x:hidden;
}

a:hover{
	text-decoration:none;
}

a:focus{
	text-decoration:none;
}

h1{
	position:relative;
	font-size: 1.5em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color:#1D2731;
  z-index:2;
}

.container-fluid{
	padding:0;
}

#navbar{
	position:fixed;
	top:0px;
	height:50px;
	width:100%;
	background-color:#0B3C5D;
	opacity:0.75;
	text-align:center;
	z-index:1;
	margin:0;
	padding:0;
}

.navBtn{
	cursor:pointer;
	z-index:2;
}

.navBtn:hover{
	color:#D9B310;
}

.selected{
	color:#D9B310;
}

#navbar-content{
	position:relative;
	display:inline-block;
	margin: 0 auto;
	top:15px;
	height:20px;
  padding: 0;
  list-style: none;
  width:100%;

  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color:#E3F8FF;
}

#navbar-content li{
	float:left;
	padding:0;
	/*border:1px solid black;*/
}

#home{
	position:relative;
	background-image:url("../images/Hakone.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
	height:700px;
	width:100%;
	padding:0;
	margin:0;
}

#title{
	position:absolute;
	top:35%;
	width:100%;
	text-align:center;

	font-size: 6.0em;
  font-family: 'Poiret One', sans-serif;
  color:#1D2731;
}

#socialButtons{
	position:absolute;
	display:inline-block;
	left:50%;
	margin-left: -130px;
	top:64%;
	height:50px;
}

.socialBtn{
	margin:0 20px;
}

.filter{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0.15;
	margin:0;
}

#about{
	position:relative;
	text-align:center;
	background-image:url("../images/davidMattiaBG.jpg");

	font-size:1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	color:#1D2731;
}

#chrisPic{
	width:100%;
	margin-top:15px;
	border-radius:10px;
}

#aboutMePara{
	margin-top:10px;
	text-align:left;
}

#projects{
	position:relative;
	text-align:center;
	background-image:url("../images/phendranaBig.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	width:100%;
	margin:0;
	padding:0;

	font-size:1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	color:#1D2731;
}

#resume{
	position:relative;
	text-align:center;
	background-image:url("../images/davidMattiaBG.jpg");

	font-size:1.5em;
	font-family: 'Source Sans Pro', sans-serif;
	color:#1D2731;
}

#footer{
	position:relative;
	text-align:center;
	background-color:#0B3C5D;
	opacity:0.85;
	height:100px;

	font-size:1.0em;
	font-family: 'Source Sans Pro', sans-serif;
	color:#E9E9E9;
}