/*Favorite Color Schemes from: https://designschool.canva.com/blog/website-color-schemes/
  -16 
  -29
  -22
  -46

  16
  	-main1: #0B3C5D; "Prussian Blue"
  	-main2: #328CC1; "Sky Blue"
  	-accent: #D9B310; "Gold Leaf"
  	-text: #1D2731; "Ivory Black"

  	-text2: #E3F8FF; "Sea Foam"

  29*
  	-main1: #99D3DF; "Ice"
  	-main2: #88BBD6; "Fresh Water"
  	-accent: #CDCDCD; "Plaster"
  	-accent2: #E9E9E9; "Linen"
*/

#navbar{
	position:fixed;
	top:0px;
	height:50px;
	width:100%;
	background-color:#0B3C5D;
	opacity:0.75;
	text-align:center;
	z-index:1;
}

.navBtn{
	cursor:pointer;
	z-index:2;
}

.navBtn:hover{
	color:red;
}

.selected{
	color:red;
}

#navbar-content{
	position:relative;
	display:inline-block;
	margin: 0 auto;
	top:15px;
	height:20px;
  padding: 0;
  list-style: none;
  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  color:#E3F8FF;
}

#navbar-content li{
	float:left;
	padding:0 20px;
}

#phendrana{
	background-image:url("../images/phendranaSmall.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
	height:700px;
}

#title{
	position:relative;
	top:40%;
	display:block;
	text-align:center;
	font-size: 5.0em;
  /*font-weight: bold;*/
  font-family: 'Poiret One', cursive;
  color:#1D2731;
}

#about{
	text-align:center;
	background-color:#99D3DF;
	height:600px;
	color:#1D2731;

	font-size:3.0em;
	font-family: 'Source Sans Pro', sans-serif;
}

#experience{
	text-align:center;
	/*background-color:#88BBD6;*/
	background-image:url("../images/phendranaBig.jpg");
	height:900px;
	color:#1D2731;

	font-size:3.0em;
	font-family: 'Source Sans Pro', sans-serif;
}

#resume{
	text-align:center;
	background-color:#88BBD6;
	height:300px;
	color:#1D2731;

	font-size:3.0em;
	font-family: 'Source Sans Pro', sans-serif;
}

#footer{
	text-align:center;
	background-color:#1D2731;
	height:100px;
	color:#E9E9E9;

	font-size:1.0em;
	font-family: 'Source Sans Pro', sans-serif;
}